/* This is an example CSS file. If you include it in your portfolio, it'll provide some clean and basic styling */
/* for your page. Feel free to experiment with the values, or copy them into a new file and use that instead. */

/* These are comments in CSS. Comments don't do anything except explain your working to make code easier to understand. */


/* CSS for the two-color bar */
.top-bar {
  background-color: #001F3F; /* Top blue color */
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 10px solid #FF6F61; /* Horizontal line as a second color */
  box-shadow: 0 6px 0 0 #A8E6CE, /* Second bottom line (using shadow for spacing) */
  0 10px 0 0 #edfbf5;   /* Third bottom line */
}




body { /* We can style any HTML element by using its name - here we're styling the body */
  /* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
  font-family: 'Nunito Sans', Nunito Sans;
  font-size: 16px;
  color: #2E2E2E;
  line-height: 1.6;
  /* we want a white page, that's centered and not too wide */
  background-color: #fffefc;
  margin:0 auto;
  max-width: 800px;
  padding-top: 60px;
}


/* Headings */
h1 {
  color: #3d1d42;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 24px ;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(182, 200, 210, 0.772); /* Horizontal, Vertical, Blur, Color */
}
h2, h3, h4, h5, h6 {
  color: #37376b;
  margin-top: 24px;
  margin-left: 24px ;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h2 {
  font-size: 1em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  margin-left: 24px ;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #52c498;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}
